/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home
  position relative;
  padding: 3.6rem 0rem 0 !important;
  max-width: 100% !important;

  .features
    padding: 1.2rem 1.6rem !important;
    margin: 3rem auto 1.5rem;
    max-width 960px !important

    .feature
      margin-bottom 1em

  .hero img
    max-width 220px !important

  .footer
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1.5rem !important

.navbar .logo
  height 1.9rem !important
  margin-right .2rem !important
